.about {
  width: 100%;
  height: auto;
  margin: 5px 0px 20px;
}

.aboutLegal {
	margin: 5px 5px 5px;
}

.aboutEULAButton {
	text-align: center;
}

.aboutDescribeFeatures div {
	margin: 5px 5px 5px;
}