.headerTitle {
  height: 100%;
  left: 0;
  display: inline-block;
  margin: 3px;
  font-size: x-large;
  font-weight: bold;
  max-width: 60%;
}

.headerButton {
  margin: 3px;
  display: inline-block;
  right: 0;
  position: absolute;
  max-width: 40%;
}

.headerTopbar {
  height: 40px;
}

.headerBottombar {
  height: 70px;
  text-align: center;
}

.headerBottomBarTimerText {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

.react-countdown-clock {
  width: 65px;
  height: 65px;
  text-align: left;
}

.headerBottomBarTimer {
  vertical-align: middle;
  display: inline-block;
}

.headerProfilepic {
  display: inline-block;
  height: 64px;    
  margin: 3px;
  vertical-align: middle;
}
.headerAccountdetails {
  display: inline-block;
  vertical-align: middle;
}
.headerAccountdetails div {
  margin: 1px;
  font-size: small;
  vertical-align: middle;
}

.headerDescription {
  font-size: large;
}

.headerDetailText {
  font-size: 14px;
  margin: 1px;
}