.playlist {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.playlistForm {
  margin: 5px;
  text-align: center;
}

.playlistData {
  height: 100%;
  margin: 5px;
}

.playlistLoading {
  margin-top: 5px;
  vertical-align: middle;
  text-align: center;
}

.playlistHeader {
  text-align: center;
  margin: 10px 0px 10px;
}

.playlistHeaderText {
  display: inline-block;
  text-align: center;
	vertical-align: middle;
	margin-left: 5px;
} 

.playlistHeaderText div {
	margin: 2px;
  vertical-align: middle;
}


.playlistImage {
  max-width: 35%;
  height: auto;
  max-height: 200px;
  display: inline-block;
  vertical-align: middle;
}


.playlistMainItem {
  text-align: center;
}

.playlistMainTitle {
  text-align: center;
	font-weight: bold;
	font-size: larger;
}

.playlistMainDescription {
  text-align: center;
	font-weight: lighter;
	margin-bottom: 5px;
}

.spotifyIcon {
  width: 21px;
  margin: 12px;
  vertical-align: middle;
}

.playlistSongs div {
	margin-bottom: 5px;
}