.playlist {
  min-height: 1200px;
  width: 100%;
}

.playlistForm {
  margin: 5px;
  text-align: center;
}

.playlistData {
  height: 100%;
  margin: 5px;
}

.playlistHeader {
    text-align: center;
}

.playlistHeaderText {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.playlistHeaderTextItem {
    margin: 2px;
    vertical-align: middle;
}

.playlistImage {
    max-width: 35%;
    height: auto;
    max-height: 200px;
    display: inline-block;
    vertical-align: middle;
}


.playlistMainItem {
    text-align: center;
}

.playlistMainTitle {
    text-align: center;
    font-weight: bold;
}

.playlistMainDescription {
    text-align: center;
    font-weight: lighter;
}