.stats {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
  
.statsLoading {
  text-align: center;
  margin: 5px;
}

.statsMainTop {
  margin: 0px 5px 5px;
  font-size: large;
}

.statsPlaylistType {
  margin: 5px;
  display: inline-block;
}

.statsPlaylistType div {
  margin: 3px 0px 3px;
}