.playlist {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

.userCenteredItem {
  text-align: center;
  margin: 5px;
}

.userPlaylistMain {
    height: auto;
}

.userPlaylistImage {
    display: inline-block;
    max-width: 25%;
    width: 200px;
    height: auto;
    vertical-align: middle;
}

.userPlaylistTitle {
    display: inline-block;
    text-align: right;
    width: 70%;
    height: auto;
    vertical-align: middle;
}